Django==1.9.0
jsonfield==1.0.3
djangorestframework==3.3.0
git+https://github.com/alanjds/drf-nested-routers@8c23e2143be86733e833ff25f88f1fb41a26155f#egg=drf-nested-routers==0.10.0-odl
dj-database-url==0.3.0
uwsgi==2.0.11.1
psycopg2==2.6
six==1.10.0
celery==3.1.19
PyYAML==3.11
newrelic==2.54.0.41
whitenoise==2.0.6
django-oauth-toolkit==0.9.0
django-sslserver==0.18
requests==2.8.1
redis==2.10.5
fake-factory==0.5.3
factory_boy==2.6.0
